In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("owid-covid-data.csv")

In [4]:
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83

In [6]:
data=data[data['location']=='India']

In [7]:
data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
16028,IND,Asia,India,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
16029,IND,Asia,India,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
16030,IND,Asia,India,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
16031,IND,Asia,India,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
16032,IND,Asia,India,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16257,IND,Asia,India,2020-08-16,2589682.0,63490.0,62381.714,49980.0,944.0,943.000,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
16258,IND,Asia,India,2020-08-17,2647663.0,57981.0,61798.429,50921.0,941.0,933.571,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
16259,IND,Asia,India,2020-08-18,2702742.0,55079.0,62009.571,51797.0,876.0,934.286,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
16260,IND,Asia,India,2020-08-19,2767273.0,64531.0,62519.286,52889.0,1092.0,971.143,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
16261,IND,Asia,India,2020-08-20,2836925.0,69652.0,62898.286,53866.0,977.0,976.143,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66

In [8]:
data.isna().sum()

iso_code                            0
continent                           0
location                            0
date                                0
total_cases                         1
new_cases                           1
new_cases_smoothed                  6
total_deaths                        1
new_deaths                          1
new_deaths_smoothed                 6
total_cases_per_million             1
new_cases_per_million               1
new_cases_smoothed_per_million      6
total_deaths_per_million            1
new_deaths_per_million              1
new_deaths_smoothed_per_million     6
new_tests                          92
total_tests                        86
total_tests_per_thousand           86
new_tests_per_thousand             92
new_tests_smoothed                 81
new_tests_smoothed_per_thousand    81
tests_per_case                     81
positive_rate                      81
tests_units                        74
stringency_index                   14
population                          0
population_density                  0
median_age                          0
aged_65_older                       0
aged_70_older                       0
gdp_per_capita                      0
extreme_poverty                     0
cardiovasc_death_rate               0
diabetes_prevalence                 0
female_smokers                      0
male_smokers                        0
handwashing_facilities              0
hospital_beds_per_thousand          0
life_expectancy                     0
dtype: int64

In [12]:
data=data.fillna(data.mean())

In [17]:
data.isna().sum()

iso_code                           0
continent                          0
location                           0
date                               0
total_cases                        0
new_cases                          0
new_cases_smoothed                 0
total_deaths                       0
new_deaths                         0
new_deaths_smoothed                0
total_cases_per_million            0
new_cases_per_million              0
new_cases_smoothed_per_million     0
total_deaths_per_million           0
new_deaths_per_million             0
new_deaths_smoothed_per_million    0
new_tests                          0
total_tests                        0
total_tests_per_thousand           0
new_tests_per_thousand             0
new_tests_smoothed                 0
new_tests_smoothed_per_thousand    0
tests_per_case                     0
positive_rate                      0
stringency_index                   0
population                         0
population_density                 0
median_age                         0
aged_65_older                      0
aged_70_older                      0
gdp_per_capita                     0
extreme_poverty                    0
cardiovasc_death_rate              0
diabetes_prevalence                0
female_smokers                     0
male_smokers                       0
handwashing_facilities             0
hospital_beds_per_thousand         0
life_expectancy                    0
dtype: int64

In [16]:
data.drop(columns='tests_units',inplace=True)